.courses-content
  margin-top: 50px


.courses-title
  margin-bottom: 50px

.courses
  //margin: 0 -10% 0 10%

.white-text
  color: #fff !important
@media screen and (max-width: 600px)
  .courses
    margin: 0 auto





