<div class="layout-wrapper">
  <div class="content-wrapper">

    <mat-sidenav-container class="side-container">
      <mat-sidenav #sidenav  class="side-container_nav">
        <app-sidenav-list [navigation]="navigation" (sidenavClose)="sidenav.close()"></app-sidenav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <app-navigation [navigation]="navigation" (sidenavToggle)="sidenav.toggle()"></app-navigation>
        <main>
          <mat-drawer-container>
            <mat-drawer class="card-panel" mode="side" opened><app-sidenav></app-sidenav></mat-drawer>
            <mat-drawer-content>
              <router-outlet></router-outlet>
            </mat-drawer-content>
          </mat-drawer-container>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>

    <app-preloader></app-preloader>

  </div>
</div>
