<footer class="page-footer">
  <div class="container">
    <div class="row">
      <a href="https://www.instagram.com/school_nekrasova/?igshid=c7kll25lgc6y">
        <img class="left" src="https://scknk.ru/public/userfiles/files/Instagram_Rounded_icon-icons_com_61576.png">
      </a>
      <p class="grey-text text-lighten-4 center">Sch Nekrasova</p>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Copyright Text
      <a class="grey-text text-lighten-4 right" href="https://chem-box.ru/admin/dashboard">Тех. спец.</a>
    </div>
  </div>
</footer>
