<div class="materials-content">
  <div class="row">
    <h1></h1>
    <div class="col-12" >
      <div *ngIf="material.methods_id == 4" [innerHTML]="material.contents"></div>
      <div *ngIf="material.methods_id == 2">
        <h2 style="text-align:center">
          {{material.title}}
        </h2>
        <div class="card" >
          <div class="card-body">
            <div class="center">
              <div id="quiz" *ngIf="content" [innerHTML]="content | sanitizeHtml"></div>
              <button id="submit" (click)="startQuiz()">{{isQuestionCardShow}}</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
