<app-breadcrumbs></app-breadcrumbs>
<mat-drawer-container>
  <mat-drawer #drawer class="card-panel drawer" mode="side"><app-sidenav></app-sidenav></mat-drawer>
  <mat-drawer-content>
    <div class="contenC">
      <a style="position: absolute" class="btn-floating btn-large waves-effect waves-light red drawer btnd" (click)="drawer.toggle()">
        <i class="material-icons">menu</i>
      </a>
    <div class="curse-content">
      <div class="row card-panel" *ngIf="course && alias && methods">
        <h1  class="center curses-title">{{course.alias}}</h1>
        <div class="course">
          <div class="col s12 m5 l3" *ngFor="let method of methods">
            <div class="card small">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://schnk/userfiles/files/17478da42271207e1d86.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{method.title}}<i class="material-icons right">more_vert</i></span>
                <a [routerLink]='"/courses/" + alias + "/" + method.alias'>Открыть</a>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{method.title}}<i class="material-icons right">close</i></span>
                <p>{{method.description}}</p>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
