.course-content
  margin-top: 50px

.courses-title
  margin-bottom: 50px

.card-curses
  position: relative
  &:hover
    cursor: pointer
    transform: scale(1.025)
  .card-content
    padding: 10px 14px


.card
  position: relative
  margin: .5rem 0 1rem
  background-color: #fff
  border-radius: 2px

  .white-text
    color: #fff !important






