.nav-wrapper
  background-color: #0a90eb

.nav
  position: absolute

.loader-wrapper
  position: fixed
  width: 100%
  z-index: 99

@media screen and (max-width: 959px)
  mat-toolbar
    border-radius: 0
  .navigation-desctop
    display: none

