<div class="materials-content">
  <div class="materials">
    <ul class="collection with-header ">
      <li class="collection-header"><h4>First Names</h4></li>
      <li class="collection-item" *ngFor="let material of materials; let i = index">
        <div class="material">
          <b>{{i+1}}.</b>{{ material.title }}<br>{{material.description}}
          <a [routerLink]='material.alias' class="secondary-content"><i class="material-icons">send</i></a>
        </div>
      </li>
    </ul>
  </div>
</div>
