<app-breadcrumbs></app-breadcrumbs>
<mat-drawer-container>
  <mat-drawer #drawer class="card-panel drawer" mode="side"><app-sidenav></app-sidenav></mat-drawer>
  <mat-drawer-content>
    <div class="contenC">
      <!--<a style="position: absolute" class="btn-floating btn-large waves-effect waves-light red drawer btnd" (click)="drawer.toggle()">
        <i class="material-icons">menu</i>
      </a>-->
      <div class="materials-content">
        <app-preloader></app-preloader>
        <div class="materials card-panel">
          <ul class="collection with-header ">
            <li class="collection-header"><h4>{{materials.method}} курсса {{materials.course}}</h4></li>
            <li class="collection-item" *ngFor="let material of materials.materials; let i = index">
              <div class="material">
                <b>{{i+1}}.</b>{{ material.title }}<br>{{material.description}}
                <a [routerLink]='"/courses/" + course + "/" + method + "/" + material.alias' class="secondary-content"><i class="material-icons">send</i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
