{{TREE_DATA.length}}
<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for expandable nodes -->
  <cdk-tree-node style="padding-left: 0px" *cdkTreeNodeDef="let node; when: hasChild" cdkTreeNodePadding
                 [style.display]="shouldRender(node) ? 'flex' : 'none'"
                 class="example-tree-node">
    <button mat-icon-button cdkTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
            (click)="node.isExpanded = !node.isExpanded"
            [style.visibility]="node.expandable ? 'visible' : 'hidden'">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-nav-list>
      <a mat-list-item [routerLink]='node.name'>
        <div class="mat-list-item-content">
          {{node.name}}
        </div>
      </a>
    </mat-nav-list>
  </cdk-tree-node>
</cdk-tree>
